@{
    ViewData["Title"] = "Collision Data";
}

@model CrashesViewModel

<div class="row m-1 p-1">
    <div id="crashseverity" class="col-2">
        <h5 class="text-center">Collision Severity</h5>
        <vc:crash-severity></vc:crash-severity>

    </div>

    <div class="col-10">
        <h1>Collisions</h1>
        <div page-number="@Model.PageInfo" page-action="CollisionData" page-class-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

        <div></div>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>Date/Time</td>
            <td>Route</td>
            <td>Milepoint</td>
            <td>Location (lat/long)</td>
            <td>Road Name</td>
            <td>City</td>
            <td>County</td>
            <td>Crash Severity</td>
            <td>Tags</td>
        </tr>
    </thead>
    <tbody>
       
        @foreach (var c in Model.Crashes)
        {
            <tr>
                <td>@c.CrashId</td>
                <td>@c.CrashDatetime</td>
                <td>@c.Route</td>
                <td>@c.Milepoint</td>
                <td>@c.LatUtmY, @c.LongUtmX</td>
                <td>@c.MainRoadName</td>
                <td>@c.City</td>
                <td>@c.CountyName</td>
                <td>@c.CrashSeverity.Description</td>
                <td>
                    @if (c.WorkZoneRelated)
                    {<p>Work-Zone Related</p>}
                    @if (c.PedestrianInvolved)
                    {<p>Pedestrian Involved</p>}
                    @if (c.BicyclistInvolved)
                    {<p>Bicyclist Involved</p>}
                    @if (c.MotorcycleInvolved)
                    {<p>Motorcycle Involved</p>}
                    @if (c.ImproperRestraint)
                    {<p>Improper Restraint</p>}
                    @if (c.Unrestrained)
                    {<p>Unrestrained</p>}
                    @if (c.Dui)
                    {<p>DUI</p>}
                    @if (c.IntersectionRelated)
                    {<p>Intersection Related</p>}
                    @if (c.WildAnimalRelated)
                    {<p>Wild Animal Related</p>}
                    @if (c.DomesticAnimalRelated)
                    {<p>Domestic Animal Related</p>}
                    @if (c.OverturnRollover)
                    {<p>Overturn Rollover</p>}
                    @if (c.CommercialMotorVehInvolved)
                    {<p>Commercial Motor Vehicle Involved</p>}
                    @if (c.TeenageDriverInvolved)
                    {<p>TeenageDriverInvolved</p>}
                    @if (c.OlderDriverInvolved)
                    {<p>Older Driver Involving</p>}
                    @if (c.NightDarkCondition)
                    {<p>Night Dark Condition</p>}
                    @if (c.SingleVehicle)
                    {<p>Single Vehicle</p>}
                    @if (c.DistractedDriving)
                    {<p>Distracted Driving</p>}
                    @if (c.DrowsyDriving)
                    {<p>Drowsy Driving</p>}
                    @if (c.RoadwayDeparture)
                    {<p>Roadway Departure</p>}
                </td>
            </tr>
        }
    </tbody>
</table>

        <div page-number="@Model.PageInfo" page-action="CollisionData" page-class-enabled="true" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

    </div>
</div>



